<!--<div *ngIf="!isSignedIn">
  <h2>Inscrever-se</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Inscrever-se</button>
</div>
<hr>


<div *ngIf="!isSignedIn">
  <h2>Entrar</h2>
  <input type="text" #email/>
  <input type="text" #password/>
  <button (click)="onSignin(email.value,password.value)">Entrar</button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
-->

<div class="main">


  <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
  <div class="title-main">
    <h1>
      Aqui, seu pedido é respondido em menos de 1 minuto.
    </h1>
  </div>

  <mat-tab-group dynamicHeight  *ngIf="!isSignedIn" class="tabs-container" >
    <mat-tab label="Entrar">
      <div class="box">
      <div class="example-small-box mat-elevation-z4">
        <div class="box-left">
          <h2>Entrar</h2>
          <label>E-mail*</label>
          <input type="text" #email placeholder="E-mail">
          <!--<small *ngIf="">Email é obrigatório!</small>-->
          <label>Senha*</label>
            <input type="text" #password placeholder="Senha">
            <a (click)="onSignin(email.value,password.value)" class="btn-danger">Login</a>
        </div>
      </div>
    </div>
    </mat-tab>


    <mat-tab label="Cadastrar-se">
      <div class="box">
      <div class="example-large-box mat-elevation-z4">
        <div class="box-left">
          <h2>Cadastrar-se</h2>
          <label>E-mail</label>
          <input type="text" #emailSignup placeholder="E-mail">
          <label>Senha</label>
            <input type="text" #passwordSignup placeholder="Senha">
            <a (click)="onSignup(emailSignup.value,passwordSignup.value)" class="btn-danger">Cadastrar</a>
        </div>
      </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
  